.footer {
  display: grid;
  grid-template-columns: 1fr 260px 298px;
  grid-template-rows: 72px;
  align-items: center;
  grid-template-areas: 'rules agreement confidentiality';
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  line-height: 21px;
}